#
# Example website configuration for use with Apache for https://humdrum.nifc.pl .
#

<IfModule mod_ssl.c>
	<VirtualHost *:443>
		ServerName   data.nifc.humdrum.org
		DocumentRoot /var/www/websites/data-nifc
		CustomLog    logs/data-nifc.log combined
		ErrorLog     logs/data-nifc-error.log
		ServerAdmin  craig@ccrma.stanford.edu
		ScriptAlias  /cgi-bin "/var/www/cgi-bin"
		RewriteEngine On
		RewriteRule /(.*) /cgi-bin/data-nifc?parameters=$1 [NC,PT]
		<Files "/var/www/cgi-bin/data-nifc.pl">
			Options +ExecCGI
			AddHandler cgi-script .pl
			Require all granted
		</Files>
		<Directory /var/www/websites/data-nifc>
			AllowOverride All
			Options Indexes FollowSymLinks
			IndexOptions FancyIndexing ScanHTMLTitles IconHeight=10 IconWidth=11 SuppressDescription NameWidth=45 
			Order allow,deny
			Allow from all
		</Directory>
		<Directory "/var/www/cgi-bin">
			AllowOverride All
			Options None
			Order allow,deny
			Allow from all
		</Directory>
		SSLCertificateFile /etc/letsencrypt/live/data.nifc.humdrum.org/fullchain.pem
		SSLCertificateKeyFile /etc/letsencrypt/live/data.nifc.humdrum.org/privkey.pem
		Include /etc/letsencrypt/options-ssl-apache.conf
	</VirtualHost>
</IfModule>

<VirtualHost *:80>
	ServerName   data.nifc.humdrum.org
	DocumentRoot /var/www/websites/data-nifc
	CustomLog    logs/data-nifc.log combined
	ErrorLog     logs/data-nifc-error.log
	ServerAdmin  craig@ccrma.stanford.edu
	RewriteEngine on
	RewriteCond %{SERVER_NAME} =data.nifc.humdrum.org
	RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>



